{% extends 'base/base.html' %}

{% block content %}


{% load static %}

          </div>
          <div class="ml-auto">
            <div class="social-wrap">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>

              <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>
            </div>
          </div>
         
        </div>
      </div>

    </header>

    
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('{{siteinfo.bg_autre.url}}')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Contact</h2>
              <p>{{siteinfo.contact_description}}</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'index' %}">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Contact</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <form action="{% url 'contact' %}"  method="POST"  >
            {% csrf_token %}
            
                  {% if messages %}
                    <ul class="messages col-md-12 col-lg-12" >
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            <div class="alert alert-info">
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                <div class="row">
                  <div class="col-md-6 form-group">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" class="form-control form-control-lg", name="firstname">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" class="form-control form-control-lg", name="lastname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="eaddress">Email Address</label>
                        <input type="text" id="eaddress" class="form-control form-control-lg", name="email">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tel">Tel. Number</label>
                        <input type="text" id="tel" class="form-control form-control-lg", name="telephone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="message">Message</label>
                        <textarea  id="message" cols="30" rows="10" class="form-control" name="message"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Send Message" class="btn btn-primary btn-lg px-5">
                    </div>
                </div>
          </form>    
        </div>
    </div>

    
    <div class="section-bg style-1" style="background-image: url('{{siteinfo.caracteristique_bg.url}}');">
        <div class="container">
          <div class="row">
          {% for caracteris in cat %}
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon {{caracteris.icone}}"></span>
              <h3>Our Philosphy</h3>
              <p>{{caracteris.description}}</p>
            </div>
             {% endfor %}
            {% comment %} <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Academics Principle</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Key of Success</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
                Dolore, amet reprehenderit.</p>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
      

    {% endblock content %}